* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}

header {
  background-color: #064b0cd8;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

nav {
  background-color: #064b0cf1;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #FFCA28;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  text-align: center; /* Alinhar o conteúdo do section ao centro */
}

h2 {
  margin-bottom: 15px;
  font-size: 32px;
  color: #0a3b0d;
  text-transform: uppercase;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: block; /* Alinhar a imagem ao centro */
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #064b0cd8;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

/* Consulta de mídia para dispositivos móveis */
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center; /* Alinhar o título ao centro */
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  nav ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  main {
    padding: 10px;
  }
}
